
		<div class="container-fluid px-0">
			<!-- navbar -->
			<nav class="navbar navbar-expand-sm navbar-light">
				<i class="fas fa-toilet-paper" style="font-size: 1.5rem;"></i>
				<a class="navbar-brand" href="/members"> &nbsp;&nbsp;pooaday</a>

				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/members">Home </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/bm">my bowel</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">report</a></li>
						<li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
					</ul>
					<!-- date picker added -->

					<input id="datepicker" width="250" placeholder="change date" />
				</div>
			</nav>
			<!-- user name display -->
			<h6 class="text-center">hello, <span class="member-name"> </span></h6>
			<!-- date display // need to add display:none // for picked date  -->
			<p class="h3 text-center" id="date-display"></p>
			<!-- change date when it is picked from date picker -->
			<p id="pickedDate" class="h3 text-center">Not set yet</p>
			<p class="text-center">
				<i class="fas fa-poop"></i> my bowel movements for
				<span> "date picked"</span>
			</p>

			<!-- when user enter new bm, each timestamp shown here  -->
			<!-- bm form -->
			<!-- remove this for mobile?????? -->
			<div class="container">
				<div class="accordion" id="accordionMain">
					<!-- 1. time-->
					<div class="card custom">
						<div class="card-header" id="headingOne">
							<h2 class="mb-0">
								<button
									class="btn text-dark btn-block customBtn"
									type="button"
									data-toggle="collapse"
									data-target="#collapseOne"
									aria-expanded="true"
									aria-controls="collapseOne"
								>
									time
								</button>
							</h2>
						</div>

						<div
							id="collapseOne"
							class="collapse show"
							aria-labelledby="headingOne"
							data-parent="#accordionMain"
						>
							<div class="card-body text-center justify-content-center">
								<p>adjust time</p>
								<!-- time picker -->
								<div class="timepicker">
									<input id="timepicker" width="270" placeholder="" />
								</div>
								<!-- <input id="timepicker" width="276" /> -->

								<span>
									<button
										type="button"
										class="btn btn-sm btn-outline-secondary"
									>
										+ add new
									</button>
								</span>
							</div>
						</div>
					</div>
					<!-- 2. style -->
					<div class="card custom">
						<div class="card-header" id="headingTwo">
							<h2 class="mb-0">
								<button
									class="btn collapsed btn-block text-dark customBtn"
									type="button"
									data-toggle="collapse"
									data-target="#collapseTwo"
									aria-expanded="true"
									aria-controls="collapseTwo"
								>
									style
								</button>
							</h2>
						</div>
						<div
							id="collapseTwo"
							class="collapse"
							aria-labelledby="headingTwo"
							data-parent="#accordionMain"
						>
							<div class="card-body">
								<!-- ranger slider -->
								<!-- default value is 3 (okay) -->
								<div class="style-range">
									<label for="styleRange"></label>

									<input
										type="range"
										class="form-control-range"
										id="styleRange"
										min="1"
										max="5"
										value="1"
									/>
									<div class="row speedText">
										<div class="col">liquid</div>
										<div class="col text-center">normal</div>
										<div class="col text-right">solid</div>
									</div>
									<div id="resultStyle" class="text-center">
										Current Value: <b></b>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 3. amount -->
					<div class="card custom">
						<div class="card-header" id="headingThree">
							<h2 class="mb-0">
								<button
									class="btn collapsed btn-block text-dark customBtn"
									type="button"
									data-toggle="collapse"
									data-target="#collapseThree"
									aria-expanded="true"
									aria-controls="collapseThree"
								>
									amount
								</button>
							</h2>
						</div>
						<div
							id="collapseThree"
							class="collapse"
							aria-labelledby="headingThree"
							data-parent="#accordionMain"
						>
							<div class="card-body">
								<!-- amount range input -->
								<!-- default value is 2 (normal) -->
								<div class="amount-range">
									<label for="amountRange"></label>

									<input
										type="range"
										class="form-control-range"
										id="amountRange"
										min="1"
										max="3"
										value="1"
									/>
									<div class="row speedText">
										<div class="col">little</div>
										<div class="col text-center">normal</div>
										<div class="col text-right">a lot</div>
									</div>

									<div id="resultAmount" class="text-center">
										Current Value: <b></b>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 4. speed  -->
					<div class="card custom">
						<div class="card-header" id="headingFour">
							<h2 class="mb-0">
								<button
									class="btn collapsed btn-block text-dark customBtn"
									type="button"
									data-toggle="collapse"
									data-target="#collapseFour"
									aria-expanded="false"
									aria-controls="collapseFour"
								>
									speed
								</button>
							</h2>
						</div>

						<div
							id="collapseFour"
							class="collapse show"
							aria-labelledby="headingFour"
							data-parent="#accordionMain"
						>
							<div class="card-body">
								<!-- range slider -->
								<!-- default value is 2 (between 5-10min) -->

								<div class="speed-range">
									<!-- <form> -->
									<label for="speedRange">speed range</label>
									<!-- <input type="range" class="custom-range" id="customRange" min="1" max="5" value="1"> -->
									<input
										type="range"
										class="form-control-range"
										id="speedRange"
										min="1"
										max="3"
										value="1"
									/>
									<!-- </form> -->
									<!-- speed text // need to change text for small screen  -->
									<div class="row speedText">
										<div class="col">less than 5 mins</div>
										<div class="col text-center">5 - 10 mins</div>
										<div class="col text-right">more than 10 mins</div>
									</div>
									<div id="resultSpeed" class="text-center">
										Current Value: <b></b>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 5. comfort level -->
					<div class="card custom">
						<div class="card-header" id="headingFive">
							<h2 class="mb-0">
								<button
									class="btn collapsed btn-block text-dark customBtn"
									type="button"
									data-toggle="collapse"
									data-target="#collapseFive"
									aria-expanded="true"
									aria-controls="collapseFive"
								>
									comfort level
								</button>
							</h2>
						</div>

						<div
							id="collapseFive"
							class="collapse show"
							aria-labelledby="headingFive"
							data-parent="#accordionMain"
						>
							<div class="card-body" id="comfortRating">
								<!-- emoji radio select   -->
								<!-- default value is 3 (okay) -->
								<div class="row">
									<div class="form-check form-check-inline col rating px-4">
										<input
											class="form-check-input"
											type="radio"
											name="inlineRadioOptions"
											id="comfortVeryUnhappy"
											value="1"
										/>
										<label class="form-check-label" for="comfortVeryUnhappy"
											><i class="bi bi-emoji-frown" style="font-size: 2rem"></i
										></label>
									</div>
									<div class="form-check form-check-inline col rating px-4">
										<input
											class="form-check-input"
											type="radio"
											name="inlineRadioOptions"
											id="comfortUnhappy"
											value="2"
										/>
										<label class="form-check-label" for="comfortUnhappy"
											><i
												class="bi bi-emoji-expressionless"
												style="font-size: 2rem"
											></i
										></label>
									</div>
									<div class="form-check form-check-inline col rating px-4">
										<input
											class="form-check-input"
											type="radio"
											name="inlineRadioOptions"
											id="comfortOkay"
											value="3"
										/>
										<label class="form-check-label" for="comfortOkay"
											><i
												class="bi bi-emoji-neutral"
												style="font-size: 2rem"
											></i
										></label>
									</div>
									<div class="form-check form-check-inline col rating px-4">
										<input
											class="form-check-input"
											type="radio"
											name="inlineRadioOptions"
											id="comfortHappy"
											value="4"
										/>
										<label class="form-check-label" for="comfortHappy"
											><i class="bi bi-emoji-smile" style="font-size: 2rem"></i
										></label>
									</div>
									<div class="form-check form-check-inline col rating px-4">
										<input
											class="form-check-input"
											type="radio"
											name="inlineRadioOptions"
											id="comfortVeryHappy"
											value="5"
										/>
										<label class="form-check-label" for="comfortVeryHappy">
											<i
												class="bi bi-emoji-sunglasses"
												style="font-size: 2rem"
											></i
										></label>
									</div>
								</div>

								<p class="text-center" id="resultComfort"></p>
							</div>
						</div>
					</div>
				</div>

				<!-- edit / add buttons  -->
				<div class="btn-group btnGroup">
					<button
						type="submit"
						id="edit-btn"
						class="btn text-dark form-control custom"
					>
						<span>
							<i class="fas fa-edit"></i>
						</span>
						edit my day
					</button>
					<button
						type="submit"
						id="add-btn"
						class="btn text-dark form-control custom"
					>
					<span> <i class="fas fa-plus"></i></span>
						add my day
					</button>
				</div>
			</div>
			<footer>
				<p class="text-center">made with <i class="bi bi-heart"></i> by pod1</p>
			</footer>
		</div>

