		<section id="cover" class="min-vh-100">
			<div id="cover-caption" class="jumbotron jumbotron-fluid">
				<div class="container">
					<div class="row">
						<div
							class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4"
						>
						 <div class="d-flex">
							<h1 class="display-4 py-2 text-truncate">
								<i class="fas fa-toilet-paper"></i> pooaday
							</h1>
							</div>
							<br />
							<div class="px-2">
								<form action="" class="justify-content-center signup">
									<!-- name -->
									<div class="form-group">
										<label for="exampleInputName">Name</label>
										<input
											type="text"
											class="form-control"
											id="name-input"
											placeholder="Name"
										/>
									</div>
									<!--  -->
									<div class="form-group">
										<label for="exampleInputEmail1">Email address</label>
										<input
											type="email"
											class="form-control"
											id="email-input"
											placeholder="Email"
										/>
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">Password</label>
										<input
											type="password"
											class="form-control"
											id="password-input"
											placeholder="Password"
										/>
									</div>
									<div
										style="display: none"
										id="alert"
										class="alert alert-danger"
										role="alert"
									>
										<span
											class="glyphicon glyphicon-exclamation-sign"
											aria-hidden="true"
										></span>
										<span class="sr-only">Error:</span>
										<span class="msg"></span>
									</div>
									<button
										type="submit"
										class="btn btn-default btn-outline-dark"
										id="signup-btn"
									>
										sign up
									</button>
								</form>
								<br />
								<p>Or log in <a href="/login"> here</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>