
		<div class="container-fluid px-0">
		{{> nav }}
			<!-- user name display -->
			<h6 class="text-center">Hello <span class="member-name">{{this.name}} </span></h6>
			<!-- date display // need to add display:none // for picked date  -->
			<p class="h3 text-center" id="date-display"></p>
			<!-- change date when it is picked from date picker -->
			<p class="text-center">
				
			</p>

			
			</div>
			{{> footer}}
		</div>


