body {
	background: linear-gradient(90deg, #ffcbf2 0%, #c8e7ff 100%);
	/* need to change 180deg later  */
	background-size: cover;
	font-family: Comfortaa;
	font-style: normal;
	font-weight: normal;

	line-height: 54px;
}

.btnIcons {
	width: 24px;
	height: 24px;
}
.custom {
	background-color: transparent;
}
.customBtn:hover {
	background-color: violet;
	/* cursor: pointer; */
	/* mix-blend-mode: color-burn; */
}
.customMY {
	/* mix-blend-mode: color-burn; */
	/* this changing text-color only  */
}

.btnGroup {
	width: 100%;
}
.custom-range {
	color: violet;
}
.rating > input {
	display: none;
	/* makes checkbox goaway */
}
